@import '../../styles/theme.scss';

.tag {
  background-color: $color-secondary-dark;
  padding: 5px 25px;
  border-radius: 26px;
  display: inline-flex;
  flex-direction: row;
  height: 30px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.tagIcon {
  margin-left: 5px;
  display: flex;
}

[data-theme='dark'] {
  .tag {
    color: $color-black;
  }
}
