@import '../../styles/theme.scss';

.content {
  background-color: $color-secondary;
  padding: 40px 80px;
  width: 75%;
}

html:global(.dark) {
  .content {
    background-color: $color-dm-secondary;
  }
}
