@import '../../styles/theme.scss';

.root {
  margin-bottom: 100px;
}
.title {
  margin: 0 0 10px;
}
.description {
  p {
    margin: 0 0 10px;
  }
}
.imageHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content {
  position: relative;
}

.tagsList {
  margin-top: 10px;
  margin-bottom: 20px;
  @media (max-width: $tablet) {
    margin-bottom: 4px;
  }
}
