.root {
  margin-bottom: 100px;
}
.title {
  margin: 0 0 10px;
}
.description {
  p {
    margin: 0 0 10px;
  }
}
.imageHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content {
  position: relative;
}

.tagsList {
  margin-bottom: 30px;
}
